.container {
  padding: 0 215px;
  margin: 0 auto;
  max-width: 1600px;
}

.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list {
  text-align: center;
}

.buttons-list__button:not(:first-child) {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  margin-top: 34px;
  flex-wrap: wrap;
}

.portfolio-list__item {
  margin-right: 30px;

  margin-bottom: 30px;

  background-color: var(--c-portfolio);
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0px;
}

.buttons-list__button:hover,
.buttons-list__button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.portfolio-list__item {
  background-color: var(--c-portfolio);
}

.portfolio-list__title {
  margin-top: 20px;
  margin-left: 24px;
  color: var(--c-primary);
}

.portfolio-list__text {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}
