.container {
  padding: 0 215px;
  margin: 0 auto;
  max-width: 1600px;
}

.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list {
  text-align: center;
  border: 0px;
}

.buttons-list__button:not(:first-child) {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-basis: calc((100%-60) / 3);

  flex-wrap: wrap;

  gap: 30px;
  margin-top: 34px;
}

.buttons-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0px;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0px;
}

.buttons-list__button:hover,
.buttons-list__button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.portfolio-list__item {
  background-color: var(--c-white);
}

.portfolio-list__title {
  color: var(--c-primary);
}

.potfolio-list__content {
  padding: 20px 24px 20px 24px;
  border: 1px solid red;
  border-top: 0px;
}

.portfolio-list__text {
  margin-top: 4px;
}
