.container {
  padding: 0 215px;
  margin: 0 auto;
  max-width: 1600px;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: var(--c-bg);
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  color: var(--c-white);
}

.hero-button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  gap: 0px;
  border-radius: 4px 4px 4px 4px;
  opacity: 0px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.advantages-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list__item:not(:first-child) {
  margin-left: 30px;
}

.advantages-list__title {
  color: var(--c-primary);
}

.advantages-list__text {
  margin-top: 10px;
  color: var(--c-secondary);
}

.benefits-container {
  padding-bottom: 94px;
}

.benefits-title {
  text-align: center;
  color: var(--c-primary);
}

.benefits-list {
  display: flex;
  margin-top: 50px;
  flex-basis: calc((100%-60) / 3);
}

.benefits-list__item:not(:first-child) {
  margin-left: 30px;
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--c-section);
}

.team-list {
  display: flex;
  flex-basis: calc((100%-90) / 4);
  margin-top: 50px;
}

.team-title {
  text-align: center;
  color: var(--c-primary);
}

.team-list__item {
  gap: 0px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--c-white);
}

.team-list__item:not(:first-child) {
  margin-left: 30px;
}

.team-list__title {
  color: var(--c-primary);
}

.team-list__information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__text {
  margin-top: 10px;

  color: var(--c-secondary);
}
